.body__form__button {
  width: 358px;
  height: 50px;
  background-color: black;
  color: white;
  margin: 18px 36px 37px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
}

.body__form__button_disabled {
  pointer-events: none;
  opacity: .2;
}

.body__form__button:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 635px) {
  .body__form__button{
    width: 238px;
    height: 46px;
    margin: 45px 22px 25px;
  }
}