.body__imageFull__buttons__arrow {
  height: 100%;
  z-index: 8;
  top: 0;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  flex: 1;
}

.body__imageFull__buttons__arrow:hover {
  opacity: 60%;
}

