.body__form__header{
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 54px;
  padding: 34px 0 0 36px;
}

@media screen and (max-width: 635px) {
  .body__form__header{
    width: 238px;
    font-size: 18px;
  }
}