.body__imageFull__buttons__arrow {
  width: 32px;
  height: 100px;
  z-index: 8;
  position: absolute;
  background: none;
  border: none;
}

.body__imageFull__buttons__arrow:hover {
  opacity: 60%;
  cursor: pointer;
}

.button__left{
  top: 50%;
  left: -10px;
  transform: translate(0, -50%) rotate(180deg);
}

.button__right{
  top: 50%;
  right: -10px;
  transform: translate(0, -50%);
}

