.elements__element{
  background-color: white;
  border-radius: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 361px;
  max-width: 282px;
  transition: transform 0.2s ease-in-out;
}

.elements__element:hover{
  cursor: pointer;
  transform: scale(105%);
}