/* .profile__edit-button{
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 17px;
  right: 0px;
  transition: opacity 0.25s ease-in-out, transform 0.17s ease-in-out;
}

@media screen and (max-width: 935px){
  .profile__edit-button{
    width: 18px;
    height: 18px;
    right: 19px;
  }
}

@media screen and (max-width: 635px) {
  .profile__edit-button{
    right: 19px;
  }
}

.profile__edit-button:hover{
  opacity: 60%;
  cursor: pointer;
}

.profile__edit-button:active{
  transform: scale(95%);
} */