.profile__info_inputs_subtitle{
  font-size: 18px;
  font-weight: 400;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 288px;
  overflow: hidden;
  margin: 16px 0 0;
}

@media screen and (max-width: 635px) {
  .profile__info_inputs_subtitle{

  }
}