.profile__info_edit-btn-container{
  background: none;
  border: none;
  padding: 0;
  margin: 35px auto auto 18px;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out, transform 0.17s ease-in-out;
}

@media screen and (max-width: 935px){
  .profile__info_edit-btn-container{
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 635px) {
  .profile__info_edit-btn-container{
    margin: 0 0 48px;
  }
}

.profile__info_edit-btn-container:hover{
  opacity: 60%;
  cursor: pointer;
}

.profile__info_edit-btn-container:active{
  transform: scale(95%);
}