.profile__info{
  width: 346px;
  min-height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 935px) {
  .profile__info {
    width: 282px;
  }
}

