.profile__info{
  min-width: 346px;
  min-height: 73px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

@media screen and (max-width: 935px) {
  .profile__info {
    min-width: 282px;
    padding-left: 0;
  }
}

