.body__form__input {
  width: 358px;
  margin: 0 auto 30px;
  border: none;
  outline: none;
  box-shadow: 0 2px 0 rgba(49, 49, 49, 0.2);
}

.body__form__input:focus {
  box-shadow: 0 0 5px 2px rgba(72, 130, 255, 0.8);
}

@media screen and (max-width: 635px) {
  .body__form__input{
    width: 238px;
  }
}