.profile__subtitle{
  font-size: 18px;
  font-weight: 400;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 635px) {
  .profile__subtitle{
    margin: 0 auto;
    text-align: center;
  }
}