.body__confirmation_card-removing {
    width: 430px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    z-index: 6;
}

.body__confirmation_card-removing_disabled {
  display: none;
}

@media screen and (max-width: 635px) {
    .body__confirmation_card-removing{
      width: 282px;
      height: 200px;
    }
  }